<div id="errorBox" style="display:none;">
    <div class="alert alert-danger" role="alert">
        <span id="err_title">Please try again later.</span>
        <div id="err_process" class="pull-right" style="display:none;">
            <img src="~/Content/Images/loading2.gif" width="35" />
        </div>
    </div>
</div>

